APP_ENV=dev
APP_DEBUG=1

DB_HOST=db
DB_PORT=3306
DB_NAME=livestream
DB_USER=livestream
DB_PASSWORD=livestream

JWT_SECRET=change-this-jwt-secret
JWT_ISSUER=yii2-livestream-api
JWT_AUDIENCE=livestream-clients
JWT_TTL=3600

COOKIE_VALIDATION_KEY=change-this-cookie-validation-key

MYSQL_DATABASE=livestream
MYSQL_USER=livestream
MYSQL_PASSWORD=livestream
MYSQL_ROOT_PASSWORD=root
